.vscode
3-party/*
build
build/*
drivers/**/.*.ko.cmd
drivers/**/.*.mod.o.cmd
drivers/**/.*.o.cmd
drivers/**/.tmp_versions/
drivers/**/Module.symvers
drivers/**/*.ko
drivers/**/*.mod.c
drivers/**/*.mod.o
drivers/**/*.o
drivers/**/modules.order
*.cpio.gz
bzImage
Module.symvers
modules.order
